*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}

body{
    font-family: sans-serif;
    color: var(--primary-text-color);
    background-color: #212121; /* --- */
   
}

p{
    font-family: 'Times New Roman', Times, serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 1200px;
    margin-inline:auto;
    overflow:hidden;
}

nav{
    background-color: #f3faff;
    box-shadow: 0 0 4px #bbb0e2 ;
    position: fixed;
    top: 0;
    z-index:99;
    left: 0;
    right: 0;
    background-color: #212121; /* --- */
}

.main-nav{
    justify-content: space-between;
    padding: 8px 0;
}

.company-logo img{
    width:120px;
}

.nav-links ul{
    gap: 18px;
    color:rgb(218, 43, 218); /* --- */
}

.hover-link{
    cursor: pointer;
}
.hover-link:hover{
    color: var(--secondary-text-color);
}

.hover-link:active{
    color:red;
}

.nav-item.active {
    color:red;
}

.search-bar{
    height: 32px;
    gap: 10px;
}

.news-input{
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 5px;
    border:  3px solid #bbd0e2;
    font-size:20px; /* --- */
}

.search-button{
    background-color: var(--accent-color);
    color: white;
    padding: 8px 24px;
    border-radius: 5px;
    cursor: pointer;
    border: none;

}

.search-button:hover{
    background-color: var(--accent-color-dark);
}

/* ====== cards ===========*/

main{
    padding-block: 20px;
    margin-top: 150px;
}

.cards-container{
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;

}

.card{
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 5px #d4ecff;
    cursor: pointer;
    background-color: white;
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: #212121; /* --- */
    color: white; /* --- */

}

.card:hover{

    box-shadow: 1px 2px 10px #d4ecff;
    background-color: rgb(25, 25, 25);   /* --- */
    transform: translateY(-3px);

}

.card-header img{
    width: 100%;
    height: 180px;
    object-fit: cover;

}

.card-content{
    padding: 12px;
}

.news-source{
    margin-block: 12px;
}


/*--- Responsive ------------*/

@media screen and (max-width:1200px){
    .container {
        max-width: 1120px;
    }

}
@media screen and (max-width:1124px){
    .container {
        max-width: 1100px;
    }

}
@media screen and (max-width:1072px){
    .container {
        max-width: 1000px;
    }
    .cards-container {
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 23px;
        align-items: start;
    }

}
@media screen and (max-width:950px){
    .container {
        max-width:850px;
    }
    .cards-container {
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 23px;
        align-items: start;
    }

}
@media screen and (max-width:850px){
    .container {
        max-width:750px;
    }
    .cards-container {
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 23px;
        align-items: start;
    }

}

@media screen and (max-width:750px){
    .container{
        max-width: 700px;
    }
    .company-logo img {
        width: 90px;
    }
}

@media screen and (max-width:635px){
    .main-nav {
        justify-content: center;
        padding: 11px 0px;
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
    .company-logo img {
        width: 60px;
    }
    .nav-links ul {
        gap: 48px;
        color: rgb(218, 43, 218);
        padding: 8px 0px;
    }
    .search-bar {
        height: 36px;
        gap: 13px;
    }

}

@media screen and (max-width:635px){
    .cards-container{
        margin: 5px 22px;
    }
}


